<!-- Footer content -->
<footer>
  <!-- Text not uniform, update description, links -->
  <div class="container" >
    <div class="box">
      <h2 id="text1">About Us</h2>
      <p id="text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus corrupti modi nemo, aspernatur quidem fuga suscipit ullam voluptatem rerum. Sed quibusdam odio ea, officiis omnis qui esse illum iste mollitia.</p>
      <div class="social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <div class="box">
      <h2>Features</h2>
      <div class="subcategories">
        <a href="#">Maintenance</a>
        <a href="#">Security</a>
        <a href="#">Bill generation</a>
        <a href="#">Payement details</a>
      </div>
    </div>
    <div class="box">
      <h2>Quick links</h2>
      <div class="sublinks">
        <a href="#">About us</a>
        <a href="#">Terms of use</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Contact us</a>
      </div>
    </div>
  </div>
  <div class="author">
    <p><span>E-Society</span> copyright &copy; 2021</p>
  </div>
</footer>

</body>

</html>  