<!-- Header content -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>E-society</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/1c9ad4b785.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container" id="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <!-- Font not uniform with nav elements -->
        <a class="navbar-brand" href="/">E-society</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <!-- Add href link -->
        <ul class="nav navbar-nav" id="navlist">
          <li><a href="/home">Home</a></li>
          <li><a href="#">Features</a></li>  
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>