<!-- Emergency contacts -->
<%- include('partials/header') %>

<div style="  padding: 4%;padding-top: 0%;font-family: sans-serif;font-size: 30px;">
  <h2 style="background-color:rgb(51, 51, 51); padding:20px;color:white; text-align: center; border-radius: 3rem; font-size: 25px;">
      Emergency Contacts
  </h2>
  <div class="flex-container">
      <div>
        <ul class="list-group zoom">
          <li class="list-group-item flat-number">Administrator</li>
          <li class="list-group-item flat-owner">
            <i class="fas fa-phone-square-alt"></i> <%= phone %>
          </li>
        </ul>
      </div>
  </div>
</div>
  
<%- include('partials/footer') %>