<!-- All features -->
<%- include('partials/header') %>

<!-- UI Improvement, add text background -->
<div class="container home-container">
  <div class="features">
    <div class="thumbnail">
      <div class="row">
        <div class="col-md-4 zoom" onclick="location.href='/residents'">
          <div class="thumbnail">
            <img src="images/members.jpg" alt="residents">
            <div class="caption">
              <center><h2>Residents</h2></center>
            </div>
          </div>
        </div>
        <div class="col-md-4 zoom" onclick="location.href='/'">
          <div class="thumbnail">
            <img src="images/notice.jpg" alt="notice">
            <div class="caption">
              <br>
              <center><h2>Noticeboard</h2></center>
            </div>
          </div>
        </div>
        <div class="col-md-4 zoom" onclick="location.href='/bill'">
          <div class="thumbnail">
            <img src="images/bill.jpg" alt="bill">
            <div class="caption">
              <center><h2>Bill</h2></center>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 zoom" onclick="location.href='/helpdesk'">
          <div class="thumbnail">
          <img src="images/complaint.jpg" alt="helpdesk">
          <div class="caption">
            <br>
            <br>
            <br>
            <br>
            <center><h2>Helpdesk</h2></center>
            </div>
          </div>
        </div>
        <div class="col-md-4 zoom" onclick="location.href='/contacts'">
          <div class="thumbnail">
          <img src="images/contact10.jpg" alt="Emergency no's">
          <div class="caption">
            <center><h2>Emergency No's</h2></center>
            </div>
          </div>
        </div>
        <div class="col-md-4 zoom" onclick="location.href='/profile'">
          <div class="thumbnail">
          <img src="images/contact10.jpg" alt="profile">
          <div class="caption">
            <center><h2>Profile</h2></center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>