body {
    background: #f4f9f9;
    font-family: sans-serif, Helvetica, Arial;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}
#navlist{
    margin-left: 5px;
}
#navbar{
    padding: 0% 15% 0% 15%;
    font-size: 18px;
}
section{
    margin-top: -20px;
    min-height: 70vh;
}
.btn{
    margin: 20px 10px 5px 5px;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(5, 5, 5,1)), url('images/night.jpg');
    background-size: cover;
}
.banner .content{
    max-width: 80%;
    text-align: center;
}
.banner .content h1{
    font-size: 4em;
    margin-top: 20%;
    font-weight: bold;
    color: white;
}
.banner .content p{
    font-weight: 600;
    color: white;
}
@media (min-width: 500px) {
    .banner .content{
        max-width: 60%;
    }
}

.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.features{
    display: block;
    margin: auto;
}
.home-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box{
    flex: 1;
    margin: 15px;
    margin-left: 5%;
    min-width: 300px;
}
.box p {
    font-size: 14px;
}
.box h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 2px solid #555;
    position: relative;
    margin-bottom: 15px;
    font-size: 20px;
}
.box h2::before{
    content: "";
    width: 100px;
    height: 100%;
    border-bottom: 2px solid crimson;
    position: absolute;
    margin-top: 2px;
}
.box a{
    color: #aaa;
    text-decoration: none;
    display: inline-block;
}
.box a i{
    background: #333;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    transition: 0.5s linear;
}
.box a:hover,
.box a:hover i{
    color: crimson;
    border-radius: 50%;
}
.subcategories a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.author{
    width: 100%;
    background: black;
    text-align: center;
    padding: 15px 0;
    font-size: 1.3em;
    text-transform: uppercase;
    overflow: hidden;
}
.w3-third {
    margin-top: 50px;
}
.advertisement {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .banner{
        min-height: 70vh;
    }
    .banner .content{
        font-size: small;
    }
    button{
        margin-left: 70px;
    }
    .w3-container h2{
        font-size: 20px;     
    }
    .footer-head {
        display: none;
    }
}

span{
    color: crimson;
}
footer{
    width: 100%;
    background: #222;
    color: #aaa;
    margin-bottom: 0px;   
}

/* Residents Page */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
    flex-direction: row;
    background-color: rgb(233, 233, 233);
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width:1000px;
    margin: auto;
}
.flex-container>div {
    border-radius: 2rem;
    background-color: #f1f1f1;
    align-items: center;
    margin: 10px 25px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    padding-top: 20px;
}
.list-group {
    width: 270px;
}
.list-group-item {
    font-size: 15px;
}
.zoom {
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.10);
}
.flat-number {
    background-color: #d9534f;
    color: #f1f1f1;
    font-size: 15px;
}
.flat-owner {
    font-size: 15px;
}
.card-profile {
    margin-top: 50px;
    border: 0;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8% 15px;
}
.profile-text {
    border: black;
    padding: 2px;
    width: auto;
    color: #d9534f;
}

/* Bill page */
.bill-content, .bill-header, .bill-details {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.bill-content td, .bill-content th {
    padding: 30px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.bill-content th, tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: crimson;
    color: white;
}
tfoot td {
    opacity: 0.8;
    font-weight: bold;
}
.bill-content tr:nth-child(even){
    background-color: #f2f2f2;
}
.bill-content tr:hover {
    background-color: #ddd;
}
.bill-header {
    font-size: 16px;
}
.bill-details td {
    padding: 8px;
    text-align: left;
}

/* Index Demographics */
#stats .vertical-heading h2 {
    color: #fff;
}
.stats-item {
    background: rgba(61, 68, 68, 0.6);
    border-radius: 4px;
    min-height: 170px;
    padding: 25px 50px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}
.stats-item i {
    font-size: 42px;
    color: #1B98E0;
    margin: 0 0 6px 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}
.stats-item h3 {
    font-size: 32px;
    color: #fff;
    margin: 5px 0 5px 0;
}
.stats-item p {
    color: #fff;
    margin: 0;
}
.stats-item:hover {
    background: #1B98E0;
}
.stats-item:hover i {
    color: #212226;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}
.stats-item {
    margin-bottom: 20px;
    padding: 25px 5px;
}
.stats-item i {
    font-size: 30px;
}
.stats-item h3 {
    font-size: 24px;
}